---
layout: archive
permalink: /blog/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Puedo escribir acá?

{% include base_path %}
<div class="archive-intro" style="margin-bottom: 2em; font-size: 1.1em; line-height: 1.6;">
  <p>¡Epa! Qué bueno que te diste una vuelta por acá. Este es mi pequeño rincón en la web donde voy a ir volcando ideas, proyectos en los que ando metido, algún que otro tutorial sobre temas que me cope explicar, y seguramente alguna reflexión perdida sobre tecnología, la vida académica, o cualquier cosa que me vuele la cabeza en el momento.</p>
  <p>No esperes nada demasiado formal, la idea es que sea un espacio más bien relajado, como para compartir una birra (o un mate) mientras charlamos de lo que pinta. Espero que algo de lo que encuentres por acá te sirva, te inspire o al menos te saque una sonrisa. ¡Gracias por leer!</p>
</div>
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

